body {
    font-family: 'Roboto', sans-serif;
    color:black;
    background-color: #ffa45b;
}
header {
    height: 100px;
    background-color: #aee6e6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.misael {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    
}

nav {
    width: 70%;
}
.titulos-trabajo {
    font-size:2.3em;
    width: 50%;
    margin: auto;
    margin-bottom: 2.5rem;
    color: black;
   
    
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    
    
}
a { 
    text-decoration: none;
    margin: 20px;
    padding: 5px;
    color: black;
    font-size: 17px;
   
}

a:hover {
    border-bottom:  1px solid#ffa45b;
    color:#ffa45b;
    
}
a:focus {
    border-bottom:  1px solid #ffa45b;
    color:#ffa45b;
    
}

nav ul li a i {
    margin-right: 10px;
}

p {
    text-align: center;
    font-size: 5em;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1.5em;
   
}
.article-sobre-mi{
    background-color: #ffa45b;
}
#uno {
   text-decoration: underline;
}


.div-ski{
    display: flex;
    width: 100%;
    margin: auto;
}
.ski {
    font-size: 2.3em;
    /*background-color: #393e46;*/
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    
}
.contactame {
    display: flex;
   margin: auto;
   margin-bottom: 50px;
   margin-top: 50px;
    width:100%;
    
}  
.titulo-contactame{
    font-size: 2.3em;
    width: 50%;
    margin: auto;
    text-align: center;
   
    
} 


.iconos2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10em;
    
}

#html {
    color: rgb(236, 94, 42);
    font-size: 13em;
    margin-bottom: 50px;
}
#css {
    color: rgba(0, 150, 250, 0.815);
    font-size: 13em;
    margin-bottom: 50px;
}
#js {
    color: yellow;
    font-size: 13em;
    margin-bottom: 50px;
}
#nodejs {
    font-size: 13em;
    color: #3c873a;
    margin-bottom: 50px;
    
}
#database {
    font-size: 13em;
    color: #ba1be2;
    margin-bottom: 50px;

}
#boostrap {
    font-size: 13em;
    color: #641379;
    margin-bottom: 50px;
}
#js:hover 
{
    -webkit-transform: rotateY(360deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(360deg);
transform-style: preserve-3d;
transition: all 1s ease-in-out;

}
#css:hover {
    -webkit-transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;

}
#html:hover {
    
    -webkit-transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}
#nodejs:hover {
    -webkit-transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}
#database:hover {
    -webkit-transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}
#boostrap:hover {
    -webkit-transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}

.section3 {
    margin-top: 130px;
    margin: auto;
}


.titulos-img {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.contenedor {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    
    
}
img {
    border-radius: 15px;
    width: 40%;
}

img:hover {
-webkit-transform: rotateY(360deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(360deg);
transform-style: preserve-3d;
transition: all 1s ease-in-out;

}


.imagen {
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
     
}
.contenedor {
    display: flex;
  
}
.texto {
    width: 100%;  
}

.sobre-mi {
    margin-top: 15em;
    font-size: 1em;
    margin-bottom: 20em;
    /*box-shadow: 2px 2px 5px #999;*/
    width: 60%;
    margin: auto;
    /*background-color: rgb(46, 42, 42);*/
    color:black;
    
}


article .sobre-mi{
    text-align: center;
    width: 80%;
   margin: auto;
}
html {
    scroll-behavior: smooth;
}

.trabajos {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  
}


#tres {
    width: 100%;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
   
}
.titulos-img {
    color: black;
    text-decoration: none;
}
.titulos-img:hover {
    color:#fff;
    border-bottom:1px solid rgb(252, 227, 8) ;
}
.hamburguesa {
    
    width: 100%;
    
}
.gato {
    
    width: 100%;
}

.restaurant {
   
    width: 100%;  
}

h3 {
  margin: auto;
}

input {
    width: 60%;
    background-color: #24303c;
    padding: 1em;
    border-radius: 0.3em;
    margin: 2em;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(153, 153, 153, 0.678);
   
}

 
.articledatos {
    display: flex;
    justify-content: space-around;
    align-items: center;
   

}
.parrafo {
    margin-bottom: 100px;
}
.datos {
    width: 40%;
    height:auto;
    background-color:#eeeeee;
    font-size: 0.3em;
    color: black;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: 2px 2px 5px #999;
    margin-bottom: 10px;

    
}
.contenedorformulario {
    margin-top: 10%;

}
.formulario {
    margin: auto;
    width: 60%;
}
form {
    text-align: center;
    margin: auto;
}
.textarea {
    text-align: center;
    width: 60%;
    margin: auto;
   
    
}
textarea {
    width: 50%;
    text-align: center;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(153, 153, 153, 0.678);
}

.boton {
    width: 20%;
    text-align: center;
    align-items: center;
    margin: auto;
    
}


.foto {
    width: 30%;
    display: flex;
    margin-bottom: 10px;
    
   
}
.fotomia {
      width: 70%;
      height: 17rem;
      border-radius: 5px;
      box-shadow: 2px 2px 5px #999;

     
}
.enviar:hover {
     cursor: pointer;
     background-color: #aee6e6;;
     border: none;
}
footer {
    margin: auto;
    background: rgb(255,255,255,.1);
    width: 80%;
    height:40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3px; 
    padding: 5px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}
.footer1{
    margin-left: 20px;
}




@media (min-width:320px) and (max-width:479px) {  

nav {
    width:85%;
    justify-content:center;
    margin: auto;
}

ul {
    flex-direction: row;
    justify-content: flex-start;
    width: 70%; 
  
}

a.sobremilink {
    display: none;
}

li a {
    font-size: 16px;
   
}

#uno {
    font-size: 2.5em;
}
.misael {
        display: none;
}

.titulo {
   width: 100%;
}
.titulo-trabajo {
    width: 80%;
}
.contactame {
width: 100%;
}
h3 {
    width: 80%;

}
.iconos2 {
    display: flex;
    flex-direction: column;
    font-size: 8px;
}
i {
    margin-bottom: 15px;
}

.articledatos {
    
    flex-direction: column;
}
.datos {
    width: 60%;
}
.div-ski {
    width: 100%;
}
.ski {
    width: 80%;
}
.fotomia {
    display: none;
}

.datos {
    width: 80%;
    margin: auto;
}
.datos-parrafos {
    font-size: 3.5em;
}
.formulario {
    width: 90%;
}

.boton {
    width: 60%;
}
.textarea {
    width: 100%;
  
}
textarea {
    width: 60%;
    margin: auto;
    text-align: center;
}
.footer1 {
    display: none;
}
footer {
    height: 80px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    

}
}
@media  (min-width:480px) and (max-width:767px) {

    .sobremilink {
        display: none;
    }    
     
li a {
    font-size: 18px;
    margin:15px;
    padding: 2;
}
.iconos2 {
        display: flex;
        flex-direction: column;
        font-size: 15px;
}

nav {
    width: 100%;
}
ul {
    justify-content: center;
}

.misael {
    display: none;
}

.div-ski {
    width: 100%;
}
.ski {
    width: 50%;
}
.contactame {
width: 100%;
}
h3 {
width: 50%;
}
.fotomia {
    display: none;
}

.articledatos {
    
    flex-direction: column;
}
.datos {
    width: 60%;
}
.datos-parrafos {
    font-size: 4em;
}
.formulario {
    width: 90%;
}

.boton {
    width: 60%;
}
.textarea {
    width: 100%;
  
}
textarea {
    width: 50%;
    margin: auto;
    text-align: center;
}
.footer1 {
    display: none;
}
footer {
    justify-content: center;
}
}

@media (min-width:768px) and (max-width:1024px){
    ul {
        justify-content: center;
    }
    .contactame {
        width: 100%;
    }
    h3 {
        width: 50%;
    }
    .div-ski{
       width: 100%;
    }
    .ski {
       width: 50%;
    }
    .iconos2 {
        display: flex;
        flex-direction: column;
        
    }
    .textarea {
        width: 100%;
      
    }
    textarea {
        width: 40%;
        margin: auto;
        text-align: center;
    }  
    .boton {
    width: 40%;
    }
    .misael {
        display: none;
    }
 
    nav {
        width: 100%;
    }
}
@media (min-width : 1024px) and (max-width:1500px) {
    .iconos2 {
        display: flex;
        flex-direction:row ;
        font-size: 13px;
    }
}
 